/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#5f87de, #02c0fe);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
 }

 .container {
  width: 90vw;
  height: 85vh;
  text-align: center;
 }

 .container .search-form {
   margin-bottom: 20px;
   overflow: auto;
 }

 .container table {
   overflow: auto;
 }

 .passenger-form {
   margin-bottom: 20px;
 }

 .passenger-form input {
   border-radius: 7px;
   border: 1px solid black;
   padding: 5px 10px;
 }

 .search-form {
   display: flex;
   justify-content: center;
   width: 100%;
 }
